<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <img src="https://www.pngitem.com/pimgs/m/264-2640106_inventory-management-system-logo-hd-png-download.png" alt="" width="100px">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse mx-right navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/adminpanel">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/product/addproduct">Add product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/product/viewproduct">View product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/product/category">Category</a>
              </li>
              <li class="nav-item">
                    <a href="/product/orders" class="nav-link active">orders</a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/user/logout">logout</a>
              </li>
            </ul>
          
          </div>
        </div>
      </nav>
      <h2 class="text-center py-5">Pending order</h2>
      <table class="table table-striped table-hover">
        <tr>
            <th>Product Name</th>
            <th>image</th>
            <th>Prize</th>
            <th>Quantity</th>
            <th>Total Amount</th>
            <th>Purchased By</th>
            <th>order status</th>
        </tr>
        <% data.map((i)=>{ %>
          <% if(i.status==="pending"){ %>
            <tr>
              <td><%= i.productname%></td>
              <td><img src="/<%= i.image%>" alt="" width="150px" height="100px"></td>
              <td><%= i.prize%></td>
              <td><%= i.quantity%></td>
              <td><%= i.prizes %></td>
              <td><%= i.userid.name%></td>
              <td> 
                <a href="/product/delivered/<%= i._id %>" class="btn btn-primary">delivere product</a>
              </td>
            </tr>
          <%}%>
        <% }) %>
      </table>
      <br/>
      <br/>
      
      <h2 class="text-center py-5">complete order</h2>
      <table class="table table-striped table-hover">
        <tr>
            <th>Product Name</th>
            <th>image</th>
            <th>Prize</th>
            <th>Quantity</th>
            <th>Total Amount</th>
            <th>Purchased By</th>
            <th>order status</th>
        </tr>
        <% data.map((i)=>{ %>
          <% if(i.status==="complete"){ %>
            <tr>
              <td><%= i.productname%></td>
              <td><img src="/<%= i.image%>" alt="" width="150px" height="100px"></td>
              <td><%= i.prize%></td>
              <td><%= i.quantity%></td>
              <td><%= i.prizes %></td>
              <td><%= i.userid.name%></td>
              <td> 
                product delivered
              </td>
            </tr>
          <%}%>
        <% }) %>
      </table>
</body>
</html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">